@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*
{
    font-family: 'Quicksand', sans-serif;
}

body
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

div.header
{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0px 0px;
    padding: 0px 0px;
    z-index: 10;
    }

    div.header p {
        margin: 0px 0px;
        font-weight: 500;
    }

    div.header div {
        margin: 0px 0px;
        padding: 0px;
        display: inline-block;
    }

    div.header svg {
        margin: 5px;
    }
    
    div.header a {
        color: white;
    }

    div.header a:link {
        text-decoration: none;
    }

    a:visited {
    text-decoration: none;
    }
      
    a:hover {
    text-decoration: underline;
    }
      
    a:active {
    text-decoration: underline;
    }

div.highlight
{
    background-color: turquoise;
    left: 0;
    width: 100%;
    min-height: 5px;
    height: 5px;
    box-shadow: 0px 0px 10px 0px white;
    }

div.introduction 
{
    color: white;
    background-color: #121212;
    margin: 1vh 2vw;
    }

    div.introduction h2 {
        text-align: left;
    }

    div.introduction h3 {
        color: turquoise;
        text-align: left; 
    }

    div.introduction p {
        text-align: left;  
    }

    div.introduction img {
        width: fit-content;
        height: 250px;
        float: right;
        margin-left: 1vh;
        border-radius: 1vh;
        border-style: solid;
        border-color: turquoise;
    }

div.projects 
{
    color: white;
    margin: 1vh 2vw;
    text-align: left;
    }

    div.projects h3{
        color: turquoise;
    }

div.project-gallery-big 
{
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    }    
    
    div.gallery-big 
    {   
        border: 1px solid turquoise;
        float: left;
        height: auto;
        margin: 1vh 1vw;
        }

        div.gallery-big:hover {
        border: 1px solid white;
        }

        div.gallery-big img {
        width: 100%;
        max-width: 600px;
        }

        div.gallery-big h1 {
        color: turquoise;
        text-align: center;
        font-size: medium;
        font-weight: 500;
        }

        div.gallery-big h2 {
        text-align: center;
        font-size: larger;
        font-weight: 400;
        }

        div.gallery-big h3 {
        color: turquoise;
        text-align: center;
        font-size: x-small;
        font-weight: 400;
        }
        
div.project-gallery-small
{
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    }

    div.gallery-small 
    {
        border: 1px solid turquoise;
        float: left;
        height: auto;
        margin: 1vh 1vw;
        }
    
        div.gallery-small:hover {
        border: 1px solid white;
        }

        div.gallery-small img {
        width: 100%;
        max-width: 300px;
        }

        div.gallery-small h1 {
        color: turquoise;
        text-align: center;
        font-size: x-small;
        font-weight: 500;
        }

        div.gallery-small h2 {
        text-align: center;
        font-size:  small;
        font-weight: 400;
        }

        div.gallery-small h3 {
        color: turquoise;
        text-align: center;
        font-size:  xx-small;
        font-weight: 400;
        }

div.project-detail
{
    color: white;
    background-color: #121212;
    margin: 1vh 2vw;
    }

    div.project-detail h2 {
        text-align: left;
    }

    div.project-detail h3 {
        color: turquoise;
        text-align: left; 
    }

    div.project-detail p {
        text-align: left;  
    }

    div.project-detail a {
        color: white;        
    }

    div.project-detail img {
        width: 100%;
        max-width: 600px;
        height: auto;
        float: right;
        margin-left: 1vh;
        margin-bottom: 1vh;
        box-sizing: border-box;
        border-radius: 1vh;
        border-style: solid;
        border-color: turquoise;
    }


div.project-extra
{
    color: white;
    background-color: #121212;
    margin: 1vh 2vw;
    }

    div.project-extra h2 {
        text-align: left;
    }

    div.project-extra h3 {
        color: turquoise;
        text-align: left; 
    }

    div.project-extra p {
        text-align: left;  
    }

    div.project-extra img {
        width: 100%;
        max-width: 200px;
        height: auto;
        margin: 1vh 2vh 0vh 1vh;
        border-radius: 1vh;
        border-style: solid;
        border-color: turquoise;
        float: left;
    }

div.bottom{
    color: #121212;
    width: 100%;
    margin-top: auto;
}
div.footer
{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 50px;
    padding: 0px 0px;
    z-index: 1000;
    }

    div.footer h2  {
        color: white;
        text-align: center;
        font-size: medium;
        font-weight: 500;
    }

    div.footer h3  {
        color: turquoise;
        text-align: center;
        font-size: small;
        font-weight: 400;
    }

.ravebeat:hover {content: url(images/ravebeat.gif);}
.soulflame:hover {content: url(images/soulflame.gif);}
.terrain:hover {content: url(images/terrain.gif);}
.gameengine:hover {content: url(images/gameengine.gif);}

