@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

div.header
{
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: black;
    }

    div.header p{
        font-size: 25px;
        font-weight: 500;
    }

    div.header div {
        display: inline-block;
        transform: scale(0.75);
    }

    div.header a
    {
        padding: 20px;
    }

div.introduction {
    color: black;
    }

    div.introduction h2 {
        text-align: center;
    }

    div.introduction h3{
        margin: 20px;
        text-align: left; 
    }

    div.introduction div{
        margin: 20px;
        text-align: left;
        padding-bottom: 20px;    
    }

    div.introduction img{
        margin: 20px;
        border-radius: 25px;
        float: inline-end;
    }

div.projects {
    color: black;
    text-align: left;
    }
    
    div.projects h2 {
        text-align: center;
    }

    div.projects h3{
        margin: 20px;
        text-align: left; 
    }

    div.projects p{
        margin: 20px;
        text-align: left;
    }


div.gallery {
    margin: 20px;
    border: 1px solid rgb(201, 201, 201);
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }